{% extends "index.html" %}
{% block content %}
{% block title %} <title> signin </title>  {% endblock title %}
      {% for message in messages%}
        <h1>{{ message }}</h1>
        {% endfor %}

        <br><br>

    <section class="max-w-4xl  p-10 mx-auto bg-white grid grid-cols-1 gap-4 place-content-center rounded-md shadow-md dark:bg-gray-800">
        <h2 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Login</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-6 mt-4 justify-items-center"> 
                <div> 
                    <label class="text-lg font-semibold text-gray-700 capitalize dark:text-white" for="username">Username</label>
                    <input class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" name="username" type="text" placeholder="username" >
                </div>

                <div>
                    <label class="text-lg font-semibold text-gray-700 capitalize dark:text-white" for="password">Password</label>
                    <input class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" name="password" type="password" placeholder="password">
                </div>

                <div class="flex justify-end mt-6 ">
                    <button class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Login</button>
                </div>
                <a href="{%url 'signup'%}" class="text-white"> Nao possui conta </a>
            </div>
        </form>
    </div>
</section>

{% endblock content %}